<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Actions -->
    <record id="action_view_kamar" model="ir.actions.act_window">
        <field name="name">View Kamar dan Fasilitasnya</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">kamar.hotel</field>
        <field name="view_mode">tree,form,kanban</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first fasilitas!
            </p>
        </field>
    </record>

    <record id="action_view_booking" model="ir.actions.act_window">
        <field name="name">Booking</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">book.hotel</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first booking!
            </p>
        </field>
    </record>

    <record id="action_view_configuration" model="ir.actions.act_window">
        <field name="name">Action Hotel Configuration</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hotel.configuration</field>
        <field name="view_mode">form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Configure your hotel!
            </p>
        </field>
    </record>    

    <record id="action_view_fasilitas" model="ir.actions.act_window">
        <field name="name">List Fasilitas yang ada di hotel</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">fasilitas.hotel</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
               Add fasilitas kamar
            </p>
        </field>
    </record>   

    <record id="action_view_tipe" model="ir.actions.act_window">
        <field name="name">List Tipe Kamar Yang Tersedia</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">tipe.kamar</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first 
            </p>
        </field>
    </record>     
   
    <menuitem id="Menu_Hotel_booking_root" 
    name="Hotel Order" 
    sequence="0"/>

    <menuitem id="Menu_Hotel_booking_master" 
    name="Hotel Detail" 
    parent="Menu_Hotel_booking_root" 
    sequence="0"/>    

    <menuitem id="menu_configuration_master" 
    name="Hotel Configuration"
    action="action_view_configuration" 
    parent="Menu_Hotel_booking_root"
    sequence="0"/>

    <menuitem id="Menu_Fasilitas_master" 
    name="Cek Kamar" 
    parent="Menu_Hotel_booking_master" 
    action="action_view_kamar" 
    sequence="1"/>

    <menuitem id="Menu_booking_hotel_master" 
    name="Menu booking" 
    parent="Menu_Hotel_booking_root" 
    action="action_view_booking" 
    sequence="0"/>        

    <menuitem id="Menu_booking_hotel" 
    name="Book a room" 
    parent="Menu_booking_hotel_master" 
    action="action_view_booking" 
    sequence="0"/>
    
    <menuitem id="Menu_tipe" 
    name="Menu Tipe" 
    parent="menu_configuration_master"
    action="action_view_tipe"  
    sequence="1"/>

    <menuitem id="Menu_fasilitas" 
    name="Fasilitas menu"
    action="action_view_fasilitas" 
    parent="menu_configuration_master"
    sequence="2"/>

    <menuitem id="Menu_booking_kamar_hotel" 
    name="kamar" 
    parent="menu_configuration_master" 
    action="action_view_kamar" 
    sequence="3"/>

</odoo>
